<div class="dropdown" role="menu">

  <button {{action 'toggle'}} class="right split button">

    <span>
      {{yield
        (hash
          section="button"
          selectedOptionLabel=selectedOptionLabel
          selectedOptionValue=selectedOptionValue
        )
      }}
    </span>

    <i class="sub icon fa {{caretClass}}"></i>
  </button>

  <div class="vertical inline container main-start cross-stretch contents {{topClass}} {{openClass}}" tabindex="-1">
    <div class="vertical buttons expand group">

      {{#each options as |opt|}}
        <a href="javascript:void(0)"
          class="button"
          value={{opt.value}}
          {{action 'onOptionSelected' opt}}
          role="menuitem"
        >
          {{opt.label}}
        </a>
      {{/each}}

    </div>

    <div class="footer">
      {{yield
        (hash
          section="footer"
          selectedOptionLabel=selectedOptionLabel
          selectedOptionValue=selectedOptionValue
        )
      }}
    </div>

  </div>

</div>
