<div class="close trigger" {{action 'close' false}}></div>
<div class="modal-box">
  <h2 class="title">
    {{yield (hash
        section='title'
        close=(action 'close')
      )
    }}
  </h2>

  <div class="contents">
    {{yield (hash
        section='content'
        close=(action 'close')
      )
    }}
  </div>

  <div class="buttons horizontal container main-end cross-stretch">
    {{yield (hash
        section='buttons'
        close=(action 'close')
      )
    }}
    {{!-- <div class="button {{cancelClass}} {{basicClass}}" {{action 'close' false}}>
      <i class="sub icon fa fa-times"></i>
      <span>Cancel</span>
    </div>
    <div class="button green {{basicClass}}" {{action 'close' true}}>
      <i class="sub icon fa fa-check"></i>
      <span>OK</span>
    </div> --}}
  </div>
</div>
