<div class="overlay"></div>
<div class="wrapper horizontal container main-between cross-center">
  <a href="{{rootURL}}/" class="logo">
    <span class="logo-container {{scrolledClass}}">
      <img src="{{logo}}" alt="Logo" draggable="false">
      <img src="{{scrolledLogo}}" alt="Logo" class="secondary" draggable="false">
    </span>
    <h1>
      <span>{{title}}</span>
    </h1>
  </a>
  <ul class="horizontal container main-end cross-center {{scrolledClass}}">
    {{yield
      (hash
        scrolled=scrolled
        buttonClass=scrolledButtonClass
      )
    }}
  </ul>
</div>
