<div class="overlay"></div>
<div class="wrapper horizontal container main-between cross-stretch">
  <div class="horizontal container main-start cross-center left">
    {{yield (hash
        scrolled=scrolled
        section="left"
      )
    }}
  </div>
  <div class="contents horizontal container main-between cross-stretch">
    <a href="{{titleLink}}" class="logo">
      <span class="logo-container {{scrolledClass}}">
        <img src="{{rootURL}}{{logo}}" alt="Logo" draggable="false">
        <img src="{{rootURL}}{{scrolledLogo}}" alt="Logo" class="secondary" draggable="false">
      </span>
      <h1>
        <span>{{title}}</span>
      </h1>
    </a>
    <ul class="horizontal container main-end cross-stretch {{scrolledClass}}">
      {{yield (hash
          scrolled=scrolled
          section="main"
        )
      }}
    </ul>
  </div>
  <div class="horizontal container main-start cross-center right">
    {{yield (hash
        scrolled=scrolled
        section="right"
      )
    }}
  </div>
</div>
