<div class="overlay {{mobileMenuClass}}"></div>
<div class="wrapper horizontal container main-between cross-stretch">
  <div class="horizontal container main-start cross-center left">
    {{yield (hash
        scrolled=scrolled
        section="left"
      )
    }}
  </div>
  <div class="contents horizontal container main-between cross-stretch">
    {{#link-to titleLink class="logo"}}
      <span class="logo-container">
        {{#if yieldLogo}}
          {{yield (hash
              scrolled=scrolled
              section="logo"
            )
          }}
        {{else}}
          <img src="{{rootURL}}{{logo}}" alt="Logo" draggable="false">
        {{/if}}
      </span>
      <h1>
        <span>{{title}}</span>
      </h1>
    {{/link-to}}
    {{#if isMobile}}
      <a href="#" class="basic button burger" {{action 'toggleMobileMenu'}}>
        <i class="icon fa fa-bars"></i>
      </a>
    {{else}}
      <ul class="horizontal container main-end cross-stretch {{scrolledClass}}">
        {{yield (hash
            scrolled=scrolled
            section="main"
          )
        }}
      </ul>
    {{/if}}
  </div>
  <div class="horizontal container main-start cross-center right">
    {{yield (hash
        scrolled=scrolled
        section="right"
      )
    }}
  </div>
</div>

{{#if isMobile}}
  <ul class="vertical container main-start cross-stretch mobile-menu {{mobileMenuClass}} {{scrolledClass}}" {{action 'closeMobileMenu' on='click' preventDefault=false}}>
    {{yield (hash
        scrolled=scrolled
        section="main"
      )
    }}
  </ul>
{{/if}}

<svg style="display: none;">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="5"/>
      <feColorMatrix in="blur" result="colormatrix"
        type="matrix"
        values="1 0 0 0 0
                0 1 0 0 0
                0 0 1 0 0
                0 0 0 18 -8" />
      <feBlend in="SourceGraphic" in2="colormatrix"/>
    </filter>
  </defs>
</svg>
