{{#if (and labelLeft hasBlock)}}
  <span class="{{disabledClass}}">
    {{yield}}
  </span>
{{/if}}

<div class="dot {{disabledClass}}">
  <input name="{{name}}" type="radio" checked={{checked}} disabled={{disabled}}>
  <div class="overlay {{color}}"></div>
</div>

{{#if (and (not labelLeft) hasBlock)}}
  <span class="{{disabledClass}}">
    {{yield}}
  </span>
{{/if}}
