<span>
  {{title}} <span class="sub">{{subtitle}}</span>
</span>
<span class="tags-container">
  {{#each tags as |tag index|}}
    <div class="tag {{tag.state}}">
      <span>{{tag.label}}</span>
      <a href="#" {{action "remove" index}}>
        <i class="icon fa fa-times"></i>
      </a>
    </div>
  {{/each}}
  <input type="text" name={{name}} value={{concatTags}} class="hidden" disabled="disabled">
  <input
    type="text"
    name="tagsInput"
    autofocus="autofocus"
    {{action "checkNewTag" on="input" preventDefault=false}}
  >
</span>
